/* header related style */
.header{
    background-color: rgba(229, 84, 115, 0.10);;
    width: 1920px;
    height: 850px;
    
    }
    .banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    }
    .btn{
    border-radius: 8px;
    background: #E55473;
    padding: 18px 40px;
    color: white;
    border: 0px;
    }
    .banner profile-picture{
    width: 635px;
    height: 800px;
    flex-shrink: 0;
    }